cititechd/force-app/main/default/flows/EmailNotification_On_Blank_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Notification_on_Blank_Status</name>
        <label>Email Notification on Blank Status</label>
        <locationX>264</locationX>
        <locationY>636</locationY>
        <actionName>Event.Event_Email_Alert_on_Status_Blank</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Events_with_Blank_Status</targetReference>
        </connector>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <assignments>
        <name>Assign_Email_Address</name>
        <label>Assign Email Address</label>
        <locationX>264</locationX>
        <locationY>516</locationY>
        <assignmentItems>
            <assignToReference>CurrentRecipientEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Events_with_Blank_Status.Business_Development_Rep__r.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Email_Notification_on_Blank_Status</targetReference>
        </connector>
    </assignments>
    <interviewLabel>EmailNotification On Blank Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EmailNotification On Blank Status</label>
    <loops>
        <name>Events_with_Blank_Status</name>
        <label>Events with Blank Status</label>
        <locationX>176</locationX>
        <locationY>396</locationY>
        <collectionReference>Events_with_Blank_Status_and_EndDate_GT_Current_Date</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Email_Address</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Events_with_Blank_Status_and_EndDate_GT_Current_Date</name>
        <label>Events with Blank Status and EndDate GT Current Date</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Events_with_Blank_Status</targetReference>
        </connector>
        <filters>
            <field>Event_Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThan</operator>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Discovery</stringValue>
            </value>
        </filters>
        <object>Event</object>
    </recordLookups>
    <startElementReference>Events_with_Blank_Status_and_EndDate_GT_Current_Date</startElementReference>
    <status>Draft</status>
    <variables>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>CurrentRecipientEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
