cititechd/force-app/main/default/flows/Four_Pack.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Log_Message</name>
        <label>Log Message</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>PrintOrderID</targetReference>
        </connector>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <stringValue>Hello Raju Debug is coming</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>PrintOrderID</name>
        <label>PrintOrderID</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>FlowDebugLogger</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>order2_loop_for_products</targetReference>
        </connector>
        <inputParameters>
            <name>debugMessages</name>
            <value>
                <stringValue>{!orderid2} &amp;   &apos;ORDERID IS&apos; </stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <name>Fourpack_pricebook</name>
        <label>Fourpack pricebook</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Pricebook2.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Four-Pack</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Pricebook2.Name</leftValueReference>
                <operator>EndsWith</operator>
                <rightValue>
                    <stringValue>Package</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>fetch_products</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>eventname2</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &quot; - Number 2&quot;</expression>
    </formulas>
    <formulas>
        <name>eventname3</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &quot; - Number 3&quot;</expression>
    </formulas>
    <formulas>
        <name>eventname4</name>
        <dataType>String</dataType>
        <expression>{!$Record.Name} &amp; &quot; - Number 4&quot;</expression>
    </formulas>
    <interviewLabel>Four Pack {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Four Pack</label>
    <loops>
        <name>order2_loop_for_products</name>
        <label>order2 loop for products</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <collectionReference>fetch_products</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>create_product</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_product</name>
        <label>create product</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>order2_loop_for_products</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Testing purpose</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OrderId</field>
            <value>
                <elementReference>orderid2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>order2_loop_for_products.PricebookEntry.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>order2_loop_for_products.Product2.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>OrderItem</object>
    </recordCreates>
    <recordCreates>
        <name>order_1</name>
        <label>order 1</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignRecordIdToReference>orderid2</assignRecordIdToReference>
        <connector>
            <targetReference>Log_Message</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account_Legal_Entity__c</field>
            <value>
                <elementReference>$Record.Opportunity.Account_Legal_Entity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingCountry</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Country__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingPostalCode</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Zip_Postal_Code__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_State__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>$Record.Opportunity.Billing_Street__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client_Cost_Code__c</field>
            <value>
                <elementReference>$Record.Opportunity.Client_Cost_Code_PO__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>$Record.Opportunity.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>orderentereddate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>End_Date_Time__c</field>
            <value>
                <elementReference>$Record.Opportunity.Event_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Meeting_Complexity__c</field>
            <value>
                <stringValue>2 - Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>eventname2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Confirmed_Date__c</field>
            <value>
                <elementReference>orderentereddate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Order_Source__c</field>
            <value>
                <elementReference>$Record.Opportunity.LeadSource</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.Owner:User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>$Record.Pricebook2Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Manager__c</field>
            <value>
                <elementReference>$Record.Opportunity.Project_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Region__c</field>
            <value>
                <elementReference>$Record.Opportunity.Region__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Start_Date_Time__c</field>
            <value>
                <elementReference>$Record.Opportunity.Event_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Order</object>
    </recordCreates>
    <recordLookups>
        <name>fetch_products</name>
        <label>fetch products</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>order_1</targetReference>
        </connector>
        <filters>
            <field>OrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <object>OrderItem</object>
    </recordLookups>
    <startElementReference>Fourpack_pricebook</startElementReference>
    <status>Active</status>
    <variables>
        <name>Loop</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
    </variables>
    <variables>
        <name>orderentereddate</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>$Flow.CurrentDate</elementReference>
        </value>
    </variables>
    <variables>
        <name>orderid2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>productlist</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
    <variables>
        <name>produtlist2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OrderItem</objectType>
    </variables>
</Flow>
